<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/Common/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/Common/js/lib/zTree/css/zTreeStyle/zTreeStyle.css" />
    <link type="text/css" rel="stylesheet" href="/Common/css/style.css" />
    <script type="text/javascript" src="/Common/js/util.js"></script>
    <script type="text/javascript" src="/Common/js/lib/json2.js"></script>
    <script type="text/javascript" src="/Common/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/Common/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Common/js/lib/zTree/js/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="/Common/js/component/alert.js"></script>
    <script type="text/javascript" src="/Common/js/component/loader.js"></script>
    <script type="text/javascript" src="/Common/js/lib/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/Common/js/script.js"></script>
    <script type="text/javascript">
        var PAGE_CONFIG = {
            xmlData: $.parseJSON('{$xml_data}')
        }
        $(function(){
            gkHomeWorkDemo.init();
        })
    </script>
</head>
<body style="background-color:{$background_color}">
    <div class="wrapper">
        <div class="header">
            <div class="c_f header_left">
                <?php if($logo_url): ?>
                <img src="{$logo_url}" class="f_l" alt="" />
                <?php endif; ?>
                <h1 class="f_l">{$page_name}</h1>
            </div>
        </div>
        <div class="main c_f">
            <div class="sidebar">
                <div class="ztree node_list"></div>
            </div>
            <div class='content'>

            </div>
        </div>

    </div>
    <script id="contentTmpl" type="text/x-jquery-tmpl">
        <div class="c_f_after content_header">
            <div class="f_l bread">
                {{each(i,bread) breads}}
                {{if i!=0}}
                <span>&gt;</span>
                {{/if}}
                {{if bread.href}}
                <a href="${bread.href}">${bread.name}</a>
                {{else}}
                <span>${bread.name}</span>
                {{/if}}
                {{/each}}
            </div>
            <div class="f_r toolbar">
                {{if gkHomeWorkDemo.checkAuth('upload',access)}}
                <button class="btn cmd_create_folder">新建文件夹</button>
                <button class="btn blue_btn cmd_upload">上传</button>
                {{/if}}
            </div>
        </div>
        <div class="view_as_thumb file_list">
            {{if files&&files.length}}
            {{each(i,file) files}}
            <include file="fileItemTmpl" />
            {{/each}}
            {{else}}
            <div class="empty">该文件夹为空</div>
            {{/if}}
        </div>
    </script>

    <script id="newFileItemTemplate" type="text/x-jquery-tmpl">
        <div class="file_item new_file_item file_item_edit">
            <div class="thumb_wrapper">
                <img src="${imgpath}" alt="" />
            </div>
            <div class="filename">
                <input class="input_text_radius input_filename" type="text" value="${filename}" x-webkit-speech="" />
            </div>
            <div class="edit_btns"><button class="btn blue_btn">确定</button><button class="btn">取消</button></div>
        </div>
    </script>
    <script id="fileItemTmpl" type="text/x-jquery-tmpl">
        <include file="fileItemTmpl" />
        </script>
</body>
</html>